# The key of your App
REACT_APP_STREAM_KEY=<your-stream-app-key>
REACT_APP_STREAM_SECRET=<your-stream-app-key>

# The user id (must be a valid user in your app)
REACT_APP_USER_ID=<your-user-id>

# The user token (you can use https://getstream.io/chat/docs/react/tokens_and_authentication/?language=javascript#manually-generating-tokens)
REACT_APP_USER_JWT=<your-user-jwt-token>
