# The key of your App
STREAM_API_KEY=<your-stream-app-key>
STREAM_API_SECRET=<your-stream-app-key>

# The user id (must be a valid user in your app)
USER_ID=<your-user-id>

# The user token (you can use https://getstream.io/chat/docs/react/tokens_and_authentication/?language=javascript#manually-generating-tokens)
USER_JWT=<your-user-jwt-token>
